.container {
    padding: 20px;
    justify-items: center;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 20px;
}
.box {
    font-size: 16px;
    font-weight: bold;
    background-color: #f9f9f9;
    width: 350px;
    height: auto;
    border: 1px solid #333;
    padding: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.video-container {
    background-color: #ccc;
    width: 320px;
    height: 180px;
    position: relative;
}
.video-container video {
    width: 100%;
    height: 100%;
    object-fit: cover;
    display: none;
}
.thumbnail {
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
}
.title {
    text-align: center;
    margin-top: 10px;
}
